body{
    margin: 0;
    text-align: left;
    padding: 350px 0;
}

header {
  padding: 350px 0;
}


/* Create Navigation Bar */

a:link {
    color: red;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

/* Change the link color to #111 (black) on hover 
.navigation:hover{
    background-color: #D1FFD7;
    color: black;
}
*/

