.textmain{
  color: red;
}

body{
    margin: 0;
    text-align: left;
}

header {
  padding: 20px 0;
}


/* Create Navigation Bar */


.allnavv{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li{
  float: left;
}

.navigation{
    display: block;
    color: white;
    text-align: center;
    padding: 20px 40px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
.navigation:hover{
    background-color: #111;
}

