body{
    margin: 0;
    text-align: left;
    padding: 0 0;
}

header {
}


/* Create Navigation Bar */

a:link {
    color: black;
}

li {
    display: inline;
}

ul {
    background-color: #D1FFD7;
}

/* Change the link color to #111 (black) on hover*/
li:hover{
    background-color: white;
}

